* {
    margin: 8px;
}

.btn-1 {
    padding: 13px 25px 13px 25px;
    background-color: #ed4d4f;
    border: none;
    color: white;
    font-weight: bold;
    opacity: 1;
}

.btn-1:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-2 {
    padding: 5px 15px;
    color: #2a61fb;
    border: 2px solid #2a61fb;
    background-color: #fcd835;
}

.btn-2:hover {
    color: #fcd835;
    background-color: #2a61fb;
    cursor: pointer;
}

.btn-3 {
    background-image: linear-gradient( 90deg, #5cd1d3, #97d291);
    padding: 6px 28px;
    border: none;
    border-radius: 20px;
    color: white;
}

.btn-3:hover {
    cursor: pointer;
}

.btn-4 {
    color: #7f5eed;
    border: 2px solid #7f5eed;
    padding: 7px 15px;
    background-color: white;
    border-radius: 6px;
}

.btn-4:hover {
    color: white;
    background-color: #6749ea;
    cursor: pointer;
    border: none;
}

.btn-5 {
    background-image: linear-gradient( #f9c433, #f5a431);
    border: 1px solid #f5a237;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
}

.btn-5:hover {
    background-color: #f38d31;
    border: 1px solid #f7b768;
    cursor: pointer;
}

.btn-6 {
    background-color: white;
    border: 1px #37a1f3;
}

.fab {
    color: #37a1f3;
    background-color: white;
    border: 1px solid #37a1f3;
    padding: 0.6em 0.6em;
    border-radius: 30px;
}

.fab:hover {
    background-color: #37a1f3;
    color: white;
    cursor: pointer;
}